{% extends 'base.html'%}

{% block head %}
    <title>Grocery List</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Grocery List</h1>

        <table>
            <tr>
                <th>Item</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for item in item_list %}
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.item_status }}</td>
                <td>
                    <a href="">DELETE</a>
                    <br>
                    <a href="">UPDATE</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="/" method="POST">
            <input type="text" name="new_item" id="new_item">
            <input type="submit" value="Add Item">
        </form>
    </div>
{% endblock %}